.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 21;
}

p>img {
    width: 100%;
    border-radius: 8px;
}

.VPButton {
    border-radius: 6px !important;
}

:root {
    --vp-c-brand: hsl(208, 86%, 54%);
    --vp-home-hero-name-color: var(--vp-c-brand);
    --vp-button-brand-bg: var(--vp-c-brand);
}